.image {
  height: 100%;

  &--container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
  }

  &--caption {
    transform: rotate(-180deg);
    opacity: 0.85;
    padding: 0.5rem;
    font-family: $font;
    text-align: end;
    writing-mode: tb-rl;
  }
}
