*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.app {
  position: relative;
  &--no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
}

.word-wrapper {
  white-space: nowrap;
}

::selection {
  background-color: $white;
}

body {
  box-sizing: border-box;
}

html {
  font-family: "Arima Madurai", Arial, Helvetica, sans-serif;
  background-color: $black;
  color: $white;
  //this defines what 1 rem is
  font-size: 100%;
  @include respond(depth-charge) {
    font-size: 120%;
  }
  @include respond(trenta) {
    font-size: 90%;
  }
  @include respond(venti-with-sugar) {
    font-size: 85%;
  }
  @include respond(venti) {
    font-size: 80%;
  }
  @include respond(grande) {
    font-size: 78%;
  }
  // @include respond(short) {
  //   font-size:%;
  // }
}
