.about {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  padding: 2rem;

  @include respond(short-with-sugar) {
    padding: 3rem 0.75rem;
  }

  &__header {
    height: 100vh;
    min-height: 51rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: url(./beard.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;

    @include respond(venti-with-sugar) {
      background-size: 60%;
    }

    @include respond(grande) {
      background-size: 75%;
      background-position: 50% 85%;
    }

    @include respond(short-with-sugar) {
      background-size: 120%;
    }

    &--title {
      margin-left: 3rem;
      font-weight: 100;
      text-align: left;
      font-size: 3.5rem;
      text-transform: uppercase;

      @include respond(venti-with-sugar) {
        font-size: 3rem;
      }

      @include respond(short-with-sugar) {
        margin-top: 3rem;
        font-size: 2.5rem;
        text-align: center;
      }

      & > span {
        &:first-child {
          margin-left: 1rem;
        }
        &:nth-child(8) {
          margin-left: 2rem;
        }
        &:nth-child(14) {
          margin-left: 3rem;
        }
        &:nth-child(22) {
          margin-left: 4rem;
        }
        @include respond(grande) {
          &:first-child,
          &:nth-child(8),
          &:nth-child(14),
          &:nth-child(22) {
            margin-left: initial;
          }
        }
      }
    }
  }

  &__introduction {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;

    &--image {
      z-index: 1;
      width: 50%;
      min-width: 35rem;
      height: 100%;
      padding: initial;
      box-shadow: 0.75rem 0.75rem 0 $white;

      & > img {
        width: 100%;
        height: initial;
      }
    }

    &--triangle {
      position: absolute;
      z-index: 0;
      top: 0rem;
      left: -5rem;
      height: 25rem;
      width: 25rem;
      transform-origin: top;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background-color: $white;
    }

    &__text {
      width: 45%;
      display: flex;
      flex-flow: column nowrap;
      margin-left: 2rem;

      & > h1 {
        font-size: 3rem;
      }
      & > p {
        margin-bottom: 2rem;
        font-family: $font;
      }
    }
  }
}
