.home {
  overflow-x: hidden;
  overflow-y: hidden;
  &__header {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;

    @include respond(short-with-sugar) {
      min-height: 90vh;
      align-items: center;
    }

    &--arrow {
      position: absolute;
      left: 30%;
      top: 20%;
      width: 7rem;
      height: 7rem;
      // transform: rotate(90deg);
      // stroke-width: 1px;
    }

    &--title {
      position: absolute;
      z-index: 10;
      left: 1rem;
      bottom: 10%;
      width: 95%;
      padding-left: 3rem;
      font-size: 4rem;
      font-weight: 100;
      text-shadow: 0.1rem 0.1rem $black;

      @include respond(venti) {
        font-size: 3.5rem;
      }

      @include respond(grande) {
        font-size: 3rem;
      }

      @include respond(short-with-sugar) {
        font-size: 2.5rem;
        padding-left: 1rem;
      }
    }

    &--image-container {
      position: relative;
      width: auto;
      height: 45rem;
      transform-origin: bottom;
      justify-self: flex-end;
      margin-right: 3rem;
      margin-left: 1rem;

      @include respond(tall) {
        height: 47rem;
        margin-right: 0;
      }
      @include respond(short-with-sugar) {
        width: 100%;
        height: initial;
        margin-left: 0;
      }
      @include respond(depth-charge) {
        height: 50rem;
      }

      @include respond(depth-charge-with-sugar) {
        height: 64rem;
      }
    }
    &--image {
      height: 100%;
      @include respond(short-with-sugar) {
        width: 90vw;
      }
    }
  }

  &__designs {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    margin-top: 6rem;

    &--title {
      width: 100%;
      font-size: 4.5rem;
      padding-left: 4rem;
      @include respond(short) {
        padding-left: 3rem;
      }
    }

    &__container {
      z-index: 1;
      flex-grow: 1;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      padding: 1rem 2rem;

      @include respond(short-with-sugar) {
        flex-flow: column nowrap;
      }

      & :first-child {
        margin-top: 4rem;
        @include respond(short-with-sugar) {
          margin-top: 0rem;
        }
      }

      & :nth-child(3) {
        margin-top: 7rem;

        @include respond(short-with-sugar) {
          margin-top: 0rem;
        }
      }

      & :nth-child(4) {
        margin-left: 5rem;
        @include respond(trenta) {
          margin-left: 0rem;
        }
      }

      & :last-child {
        margin-top: 10rem;

        @include respond(trenta) {
          margin-top: 1rem;
        }
        @include respond(short-with-sugar) {
          margin-top: 0rem;
        }
      }
    }

    &--counter {
      position: absolute;
      left: 15%;
      top: 30%;
      font-size: 2.4rem;
    }

    &--image-container {
      width: auto;
      height: 25rem;
      margin: 0 2rem;
      opacity: 0.7;

      @include respond(trenta) {
        margin: 0 1rem;
      }

      @include respond(depth-charge) {
        height: 30rem;
      }
    }

    &__triangle {
      position: absolute;
      z-index: 0;
      left: 50%;
      height: 30rem;
      width: 30rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: flex-end;
      transform-origin: center;
      opacity: 0.1;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background-color: $white;
      @include respond(depth-charge) {
        height: 35rem;
        width: 35rem;
      }
      &--title {
        width: 45%;
      }
    }
  }

  &__researches {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;

    &--title {
      width: 100%;
      font-size: 4.5rem;
      padding-right: 6rem;
      text-align: right;

      @include respond(short) {
        padding-right: 3rem;
      }
    }

    &--container {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      padding-right: 0;
    }

    &__list {
      z-index: 10;
      list-style: none;
      align-self: flex-start;

      & > li {
        margin: 1.5rem 0;
        padding-right: 1rem;
      }
    }

    &--image-container {
      height: 40rem;
      width: auto;
      border-right: 1px solid $white;
      padding-right: 2rem;
      margin-left: 4rem;
    }

    &--rect {
      position: absolute;
      z-index: -1;
      right: -20%;
      top: 5%;
      transform: rotate(180deg);
      opacity: 0.5;
      mix-blend-mode: difference;
    }
  }
}
