.menu {
  position: absolute;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;

  @include respond(grande) {
    flex-flow: column nowrap;
  }

  &--container {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid $white;

    @include respond(grande) {
      border-right: none;

      &:first-child {
        border-left: none;
      }
    }

    &:first-child {
      border-left: 1px solid $white;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 11rem;

    @include respond(trenta) {
      font-size: 9rem;
    }

    @include respond(short) {
      font-size: 8rem;
    }

    @supports (-webkit-text-stroke: 1px $white) {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
      -webkit-text-fill-color: transparent;
    }

    &--about {
      flex-grow: 1;
      padding-left: 2rem;
      justify-content: flex-start;
      border-bottom: 1px solid $white;

      @include respond(grande) {
        border-bottom: none;
      }

      @include respond(short) {
        justify-content: center;
        padding-left: initial;
      }
    }

    &--home {
      justify-content: center;
      border-top: 1px solid;

      @include respond(grande) {
        justify-content: flex-end;
        border-top: none;
      }

      @include respond(short) {
        justify-content: center;
      }
    }

    &--contact {
      justify-content: flex-end;
      padding-right: 2rem;
      opacity: 0.75;
      font-size: 2rem;
      border-top: 1px solid $white;
    }
  }

  &--subtitle {
    padding-left: 2rem;
    font-size: 2.5rem;
    border-top: 1px solid $white;
  }

  &__list {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid $white;

    &--researches {
      @include respond(grande) {
        border-right: 1px solid $white;
      }
    }

    &--item {
      padding-left: 4rem;
      margin-bottom: 0.5rem;
      color: $white;
      opacity: 0.25;
      font-family: "Assistant", Georgia, "Times New Roman", Times, serif;
      font-size: 1.75rem;
      cursor: pointer;

      &:last-child {
        margin-bottom: 1.5rem;
      }
    }
  }
}
