.menu {
  position: absolute;
  z-index: 99;
  width: 100%;
  // min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2rem;

  &__list {
    list-style: none;
    & li {
      padding-left: 1rem;
      font-family: "Assistant", Georgia, "Times New Roman", Times, serif;
    }
    &--researches {
      grid-column: 2/3;
      grid-row: 2/4;
    }
  }

  &--subtitle {
    font-size: 5.625rem;
    margin-bottom: 0.5rem;
  }
}
