.project {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    @include respond(grande) {
      flex-flow: column nowrap;
    }

    &--image-container {
      width: 45%;
      max-width: 45rem;
      min-width: 32rem;
      height: initial;

      @include respond(grande) {
        width: 100%;
      }
      @include respond(short-with-sugar) {
        min-width: initial;
      }
    }

    &--image {
      height: initial;
      width: 93%;
    }

    &__title {
      width: 45%;
      text-align: center;
      font-size: 5rem;
      font-weight: 100;
      text-transform: uppercase;

      @include respond(depth-charge) {
        font-size: 5.5rem;
      }
      @include respond(trenta) {
        font-size: 4.5rem;
      }
      @include respond(venti-with-sugar) {
        font-size: 3.3rem;
      }
      @include respond(grande) {
        width: 95%;
        font-size: 3.8rem;
      }
      & > small {
        width: 70%;
        font-family: $font;
        font-size: 1rem;
        text-transform: initial;
        @include respond(short-with-sugar) {
          display: none;
        }
      }
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 2rem 0;
    padding: 0 1.5rem;

    &--description {
      width: 25%;
      margin: 0 1rem;
      color: inherit;
      @include respond(short-with-sugar) {
        width: 100%;
        margin: 2rem 0 1rem 0;
        text-align: center;
      }
    }
    &__box {
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      padding-left: 0.5rem;
      border-left: 1px solid;
      border-color: inherit;
      font-family: $font;

      & > span {
        margin-bottom: 0.5rem;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.1rem;
        color: inherit;
      }
    }
  }

  &__process {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;

    &__images {
      flex-grow: 1;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: flex-start;

      &--image {
        z-index: 1;
        min-height: 15rem;
        height: 70vh;
      }

      &--image-single {
        width: 90%;
        // width: 50%;
        // max-hei5ght: 100vh;
        justify-content: center;
        height: initial;
        min-height: initial;
        & > img {
          width: 100%;
        }
      }
    }

    &--title {
      width: 100%;
      font-size: 5rem;
      font-weight: 100;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
  }

  &__details {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20rem;

    @include respond(grande) {
      margin-top: 3rem;
    }

    &--title {
      font-size: 5rem;
      font-weight: 100;
      text-transform: uppercase;
      white-space: nowrap;
      color: inherit;
      @include respond(short-with-sugar) {
        white-space: initial;
        text-align: center;
      }
    }

    &__text {
      width: 45%;
      padding: 0 2rem;
      color: inherit;

      @include respond(venti) {
        margin-top: 3rem;
        width: 100%;
      }

      & p {
        font-family: $font;
        color: inherit;

        @include respond(venti) {
          margin-bottom: 2rem;
        }

        @include respond(short-with-sugar) {
          font-size: 1.1rem;
        }
      }
    }
    &--image {
      z-index: 1;
      width: 50%;
      min-width: 35rem;
      height: 100%;
      padding: initial;

      @include respond(venti) {
        width: 85%;
      }
      @include respond(short-with-sugar) {
        min-width: initial;
      }
      & > img {
        width: 100%;
        height: initial;
      }
    }
  }

  &__showcase {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;

    &__drawing {
      z-index: 0;
      position: absolute;
      top: -15rem;
      right: -2rem;
      opacity: 0.2;
    }

    &--title {
      font-size: 5rem;
      font-weight: 100;
      text-transform: uppercase;
    }

    &--image {
      height: 100%;
      width: 80%;
      margin: 0 auto;
      padding: initial;
      & > img {
        width: 100%;
        height: initial;
      }
    }
  }

  &__shape {
    z-index: 0;
    position: absolute;
    right: -5rem;
    top: -20rem;
    opacity: 0.2;
    transform-origin: top;
    background-color: $grey;

    &--circle {
      z-index: 2;
      top: 0;
      left: -5rem;
      height: 25rem;
      width: 25rem;
      border-radius: 50%;
    }

    &--triangle {
      top: 0;
      height: 25rem;
      width: 33rem;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    &--octagon {
      left: -5rem;
      top: -10rem;
      height: 25rem;
      width: 25rem;
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
    }
  }
}
